text=auto   eol=lf
*.phar      binary
*.php       diff=php

* export-ignore
/src            -export-ignore
/src/**         -export-ignore
/example        -export-ignore
/example/**     -export-ignore
/composer.json  -export-ignore
/CHANGELOG.md   -export-ignore
/LICENSE        -export-ignore
/README.md      -export-ignore
